[submodule "advent-of-code-2023-kotlin"]
	path = advent-of-code-2023-kotlin
	url = git@github.com:dukendev/advent-of-code-2023-kotlin.git
[submodule "advent-of-code-2023-go"]
	path = advent-of-code-2023-go
	url = git@github.com:dukendev/advent-of-code-2023-go.git
